<div class="my-matches-body">
  <app-application-error *ngIf="matchesError$ | async"></app-application-error>
  <app-matches-skeleton *ngIf="matchesLoading$ | async"></app-matches-skeleton>

  <app-matches-filters
    [userName]="userName"
  ></app-matches-filters>

  <ng-container *ngIf="matchesResponse$ | async as matchesResponse ">
    <ng-container *ngIf="matchesResponse.items.length > 0; else emptyResults">
      <app-matches-list
        [response]="matchesResponse"></app-matches-list>
      <app-paginator
        (pageChange)="onPageChange($event)"
        [page]="(activatedRoute.queryParams | async).page | pageNumber"
        [totalPages]="matchesResponse | numberOfPages"
      ></app-paginator>
    </ng-container>

    <ng-template #emptyResults>
      <div>No results</div>
    </ng-template>
  </ng-container>

</div>
