.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__password-errors {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    padding-left: 1em;
  }

  > * {
    width: 500px;
  }
}
