:root {
  --text-primary: #adb7be;
  --primary: #BD8BCA;
  --primary-focus: #A25EB5;

  --white: #fff;
  --gray: #6c757d;

  --success: #7BB739;
  --info: #95C0F1;
  --warning: #F8B259;
  --danger: #f44336;
}
