<div class="create-password">
  <mat-form-field
    appearance="outline"
    class="mat-form-field--no-errors">
    <mat-label>{{ label }}</mat-label>
    <input
      [formControl]="control"
      [placeholder]="label"
      [type]="passwordVisible ? 'text' : 'password'"
      autocomplete="new-password"
      matInput
      maxlength="128">
    <mat-icon
      (click)="passwordVisible = !passwordVisible"
      matSuffix
    >{{ passwordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <mat-error *ngIf="control.invalid && control.touched">
    <div class="create-password__password-errors">
      <span *ngIf="control.errors.required">{{ validationMessages.required }}</span>
      <span *ngIf="control.errors.minlength">{{ validationMessages.minlength }}</span>
      <span *ngIf="control.errors.lowercase">{{ validationMessages.lowercase }}</span>
      <span *ngIf="control.errors.uppercase">{{ validationMessages.uppercase }}</span>
      <span *ngIf="control.errors.digit">{{ validationMessages.digit }}</span>
    </div>
  </mat-error>
</div>
